@tailwind base;
@tailwind components;
@tailwind utilities;

/* CKEditor styles */
@import '/@ckeditor/ckeditor5-build-classic/build/ckeditor.css';


.main-layout {
    display: flex;
    flex-direction: column;
  }
  
  .main-content {
    display: flex;
  }
  
  .content {
    flex: 1;
    padding: 20px;
  }
  